<section class="pages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        This is my first project on Ruby under Ruby on Rails and I must say that I've enjoyed so much learning and working with this new trend!
        <br>
        I'm a tech enthusiast and a life seeker! I love coding and develop all kinds of software. One day, I'll have one robotic dog that instead I feed him, he feeds me.
        <br>
        So, to finish my bio, here's some Lorem Ipsum text:
        <br>
        <code>
          # puts  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec quam metus, consequat sed erat sed, efficitur porttitor lectus. Donec at mi ipsum. Integer interdum
          mauris quis pretium tristique. Maecenas id ante libero. Morbi eros mauris, semper sit amet magna vel, volutpat viverra risus. Morbi id felis sit amet sem vulputate tristique non non risus.
          Integer finibus nunc vehicula sapien euismod, quis fermentum velit lobortis. Etiam porta mauris nec ex placerat, non molestie velit luctus.
        </code>
      </div>
    </div>
  </div>
</section>