<section class="pages">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>The exercise is for you to create a blog, it should be possible listing all articles,, create, read, update a destroy (CRUD). The title and body of the title should be required.</p>
        <p>The article requires an author, which it requires the name.</p>
        <p>Also, it should be possible create categories, and if so, an article could have one or more categories associated.</p>
        <p>The articles can receive comments.</p>
        <br>
        <p>To develop this exercise, we want that you use the lang Ruby under the framework Ruby on Rails.</p>
        <p><strong>Good Luck!</strong></p>
      </div>
    </div>
  </div>
</section>